# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
*.swp

# Env files
.env
.env.*

# Dev notes
devdocs/
devscripts/

# Docker compose files
docker-compose.yml

# Logs
*.log

# Python cache
__pycache__/
.venv/

# mypycache
.mypy_cache/
